.clothing-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}
.all-verity-box{
  display: flex;
  justify-content:center;
  width: 100%;
  margin-bottom: 20px;
}

.clothing-box {
  background: url("https://plus.unsplash.com/premium_photo-1664372899366-d5fb20b332d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80");
  background-size: cover;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  margin: 2rem;
}
.clothing-box h1{
  color: white;
  font-size: 2rem;
  font-weight: 200;
  font-family: "Baguet Script", cursive;
}

.clothing-box-action {
  background-color: rgb(160, 230, 235);
  width: 50px;
  height: 50px;
  /* aspect-ratio: 1; */
  position: absolute;
  bottom: -25px;
  border-radius: 50px;
  left: calc(50% - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.clothing-box-action svg {
  font-size: 150%;
}



.modal-Box {
  background-color: white;
  padding: 20px 0;
}
/* .modal-Box input,
textarea {
  width: 90%;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  resize: vertical;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.modal-Box input:focus {
  outline: none;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
} */
/* .modal-Box textarea:focus {
  outline: none;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.modal-Box ::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 200;
  font-family: "Baguet Script", cursive;
  color: #9ad0f7;
}

.modal-Box label {
  display: block;
  width: 80%;
  font-weight: 200;
} */

/* *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

/* body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
} */

.clothing-from {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
.clothing-from ::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 200;
  font-family: "Baguet Script", cursive;
  color: black;
}
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

/* button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
} */

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

